@use '../util' as u;
.btn {
    background-color: var(--darkViolet);
    width: 104%;
    height: 150%;
    font-size: u.rem(10);
    margin-top: u.rem(20);
    color: var(--white);
    border-radius: u.rem(10);
    padding: u.rem(10);  

}

input[type="submit"] {
    background-color: var(--darkViolet);
    width: 104%;
    height: u.em(60);
    font-size: u.em(20);
    margin-top: u.rem(20);
    color: var(--white);
    border-radius: u.rem(10);
    border: none;
    padding: u.rem(10);
}