@use '../util' as u;

.cards {
    position: absolute;
    top: 20%;
    left: 10%;
    width: u.rem(400);  
    height: u.rem(370);
    
    @include u.breakpoints-down(small) {
        top: 16%;
        left: 5%;
    }

}


.card-front {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    color: var(--white);
    width: 80%;
    height: 40%;
    padding: u.rem(20);
    border-radius: u.rem(10);
    background-image: url("/images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include u.breakpoints-down(small) {
        z-index: 2;
    }

    &__logo {
        margin-bottom: u.em(35);
    }

    &__number {
        margin-bottom: u.em(15);
        font-size: u.em(22);
        text-align: justify;
        letter-spacing: u.em(2);
        font-weight: normal;
    }

    &__final {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        letter-spacing: u.em(2);
    }

    &__name {
        text-transform: uppercase;
    }
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: u.rem(50);
    bottom: u.rem(-20);
    color: var(--white);
    width: 80%;
    height: 40%;
    padding: u.rem(20);
    border-radius: u.rem(10);
    background-image: url("/images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include u.breakpoints-down(small) {
        z-index: 1;
        top: -380px;
    }
    
    &__cvv {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    &__text {
        margin-right: 5%;
    }
}