@use '../util' as u;

.cards {
    position: absolute;
    top: 20%;
    left: 10%;
    width: u.rem(400);  
    height: u.rem(370);
    
    @include u.breakpoints-down(small) {
        top: 0px;
        left: u.rem(25);
        width: u.rem(320);
    }

}


.card-front {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    color: var(--white);
    width: 80%;
    height: 40%;
    padding: u.rem(20);
    border-radius: u.rem(10);
    background-image: url("../img/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include u.breakpoints-down(small) {
        position: absolute;
        top: u.rem(164);
        z-index: 2;
        width: u.rem(230);
        height: u.rem(110);
    }

    &__logo {
        margin-bottom: u.em(35);

        @include u.breakpoints-down(small) {
            width: 35%;
            height: 40%;
            margin-bottom: u.em(25);

        }
    }

    &__logo img {

        @include u.breakpoints-down(small) {
            width: 100%;
            height: 100%;

        }
        
    }

    &__number {
        margin-bottom: u.em(15);
        font-size: u.em(22);
        text-align: justify;
        letter-spacing: u.em(2);
        font-weight: normal;

        @include u.breakpoints-down(small) {
            font-size: u.em(17);      
        }
    }

    &__final {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        letter-spacing: u.em(2);

        @include u.breakpoints-down(small) {
            font-size: u.em(12);      
        }
        
    }

    &__name {
        text-transform: uppercase;
    }
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: u.rem(50);
    bottom: u.rem(-20);
    color: var(--white);
    width: 80%;
    height: 40%;
    padding: u.rem(20);
    border-radius: u.rem(10);
    background-image: url("../img/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include u.breakpoints-down(small) {
        position: absolute;
        top: 0;  
        z-index: 1;
        width: u.rem(230);
        height: u.rem(110);

    }
    
    &__cvv {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        
        @include u.breakpoints-down(small) {
            font-size: u.em(12);
        }
    }

    &__text {
        margin-right: 5%;
    }
}