@use '../util' as u;
.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: u.rem(20);
    width: 40%;
    display: none;

    &__title h2 {
        text-transform: uppercase;
        font-size: u.rem(48);
        letter-spacing: u.rem(5);
        color: var(--darkViolet);
    }

    &__description p {
        font-size: u.rem(24);
        letter-spacing: u.rem(1);
        color: var(--darkGrayViolet);
    }

    &__continue {
        width: 100%;
    }



}
